{% extends 'base.html' %}

{% block title %}Email Sent{% endblock title %}

{% block content %}
{% load i18n %}
<div class="container d-flex justify-content-center align-items-center" style="height: 70vh;">
    <div class="card shadow-lg p-4 rounded text-center" style="max-width: 450px; width: 100%; border: none;">
        <h2 class="mb-3 text-primary">{% trans "Please Check Your Email"%}</h2>
        <p class="text-muted">
           {% trans "Information about your password change has been sent to your email!"%} <br>
            {% trans "Make sure to check your inbox (and spam folder if needed)."%}
        </p>
        <a href="{% url 'login' %}" class="btn btn-primary w-100 py-2 mt-3">{% trans "Go to Login Page"%}</a>
    </div>
</div>
{% endblock content %}
