{% extends 'base.html' %}
{% block title %}Password Changed{% endblock title %}
{% block content %}
{% load i18n %}
<div class="container d-flex justify-content-center align-items-center" style="height: 70vh;">
    <div class="card shadow-lg p-4 rounded text-center" style="max-width: 450px; width: 100%; border: none;">
        <h2 class="text-success mb-3">{% trans "Password Changed"%}</h2>
        <p class="text-muted">
            {% trans "Your password has been successfully updated. You can now log in using your new password."%}
        </p>
        <a href="{% url 'login' %}" class="btn btn-primary w-100 py-2 mt-3">{% trans "Go to Log In Page"%}</a>
    </div>
</div>
{% endblock content %}
