{% extends 'base.html' %}
{% block title %}Password Changed{% endblock title %}
{% block content %}
{% load i18n %}
<div class="container d-flex justify-content-center align-items-center" style="height: 70vh;">
    <div class="card shadow-lg p-4 rounded" style="max-width: 450px; width: 100%; border: none;">
        <div class="text-center">
            <h2 class="text-success mb-3">{% trans "Password Successfully Changed"%}</h2>
            <p class="text-muted mb-4">{% trans "You can now log in using your new password."%}</p>
        </div>
        <div class="d-flex justify-content-center">
            <a href="{% url 'login' %}" class="btn btn-primary w-100">{% trans "Go to Login Page"%}</a>
        </div>
    </div>
</div>
{% endblock content %}
