{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Change Your Password {% endblock title %}
{% block content %}
{% load i18n %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card shadow-lg p-4 rounded" style="max-width: 400px; width: 100%; border: none;">
        <div class="text-center mb-4">
            <h3 class="text-primary">{% trans "Change Your Password"%}</h3>
            <p class="text-muted">{% trans "Please enter your old password and your new password twice to confirm."%}</p>
        </div>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success w-100 py-2">{% trans "Change Password"%}</button>
        </form>
    </div>
</div>
{% endblock content %}
